:root {
  --slider-gap: 12px;
  --slider-count: 4;
  --max-container-size: 1500px;

  --orangy-kinda-colour0: hsl(39, 69%, 49%);
  --orangy-kinda-colour1: hsl(33, 37%, 39%);
}

nav {
  padding: 24px 48px;
}

.nav-wrapper {
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  display: flex;
  max-width: var(--max-container-size);
}

main {
  padding-left: 48px;
  padding-right: 48px;
}

nav > .link-list:nth-child(1) {
  margin-right: auto;
}

.nav-left-side,
.nav-right-side {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-left-side {
  margin-right: auto;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;

  display: flex;
}

.welcome-page {
  display: flex;
  padding: 16px;
}

.welcome-page-wrapper {
  max-width: fit-content;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 16px;

  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-container-size);
}

.welcome-page-wrapper > h1 {
  font-size: 48px;

  > span {
    color: var(--orangy-kinda-colour0);
  }
}

.welcome-page-wrapper > p {
  max-width: 500px;
  text-align: center;
}

.welcome-page-wrapper > .explore-now {
  display: flex;
  background-color: var(--orangy-kinda-colour0);
  border: 1px solid  var(--orangy-kinda-colour1);
  cursor: pointer;
  align-items: center;
  border-radius: 16px;
  width: fit-content;
  padding: 4px 8px;

  color: white;

  transition-property: transform;
  transition-duration: 50ms;
  transition-timing-function: ease;
}

.welcome-page-wrapper > .explore-now:hover {
  background-color: hsl(39, 73%, 57%);
  transform: scale(1.05);
}

.welcome-page-wrapper > .explore-now:active {
  background-color: var(--orangy-kinda-colour0);
  transform: scale(1);
}

.welcome-page-wrapper > .explore-now > img {
  width: 32px;
  filter: invert(100%);
}

.page-title {
  margin-bottom: 16px;
  color: var(--orangy-kinda-colour0);
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 2px solid #aaa;
  border-radius: 4px;
}

input.main-search-bar {
  background-color: transparent;
  margin: 0;
  padding: 8px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

.main-search-bar::placeholder {
  color: #bbb;
}

button.search {
  overflow: hidden;
  background-color: transparent;
  background-image: url("./assets/icons/magnify.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  width: 32px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  opacity: 0.7;
}

button.search:hover {
  opacity: 1;
}

button.search:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #ddd;
  border-color: #ddd;
  outline: none;
}

.homepage-wrapper {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: var(--max-container-size);
}

.homepage-header {
  font-size: 32px;
  text-align: center;
}

.homepage-header > span {
  color: var(--orangy-kinda-colour0);
}

.loading-circle {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 120px;
  height: 120px;

  animation: loading-spin 800ms ease infinite;
}

.loading-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.loading-wrapper > div:nth-child(2) {
  font-size: 24px;
  font-weight: 600;
}

@keyframes loading-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.slider-wrapper {
  display: flex;
  gap: var(--slider-gap);

  overflow: hidden;

  height: fit-content;

  scroll-behavior: smooth;
}

.slider {
  position: relative;

  margin-left: auto;
  margin-right: auto;
}

.scroller-left {
  left: -23px;
}

.scroller-right {
  right: -23px;
}

.scroller {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background-color: rgba(240, 240, 240, 1);
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;

  font-size: 1.5rem;
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: background-color;
}

.scroller:hover {
  background-color: rgba(220, 220, 220, 1);
}

.scroller:active {
  background-color: rgba(240, 240, 240, 0.8);
}

.slider-card {
  flex-basis: calc(100% / var(--slider-count) - var(--slider-gap) + var(--slider-gap) / var(--slider-count));
  flex-grow: 1;
  flex-shrink: 0;

  background-color: rgba(170, 170, 170, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  
  padding: 12px;

  border-radius: 8px;
}

.slider-card > img {
  margin: auto;
  max-width: 70%;
  border-radius: 8px;
}

/* TODO: get rid of this */
.image-placeholder {
  background-color: lightgray;
  flex-grow: 1;
}

.displayed-item-buy-now {
  color: #030728;
  cursor: pointer;
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 4px;

  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: background-color;
}

.displayed-item-buy-now:hover {
  background-color: rgba(180, 180, 180, 1);
}

.displayed-item-buy-now:active {
  background-color: rgba(230, 230, 230, 1);
}

.testimonial-header {
  font-size: 32px;
  color: var(--orangy-kinda-colour0);

  margin-bottom: 16px;
}

.testimonial-people {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonial-people > li {
  display: flex;
  align-items: center;
  gap: 32px;

  border-radius: 8px;
  padding: 32px;
  padding-right: 128px;

  cursor: pointer;

  transition-property: transform background-color;
  transition-duration: 100ms;
  transition-timing-function: ease;
}

.testimonial-people > li:hover, .testimonial-people > li:active {
  background-color: rgba(250, 250, 250, 1);
}

.testimonial-people > li:active {
  transform: scale(0.95);
}

.testimonial-people > li.selected, .testimonial-people > li:hover {
  box-shadow: 0px 0px 16px 16px rgba(230, 230, 230, 1);
}

.testimonial-people > li > div > div:nth-child(1) {
  font-weight: 500;
}

.testimonial-people > li > div > div:nth-child(2) {
  color: rgba(150, 150, 150, 1);
}

.testimonial-people img {
  width: 64px;
  border-radius: 50%;
}

.testimonial-container {
  display: flex;
  gap: 32px;
}

.testimonial-container p {
  font-size: 24px;
  color: hsl(232, 72%, 13%);

  margin-left: 128px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  max-width: 600px;
}

.shoppage-wrapper {
  margin-left: auto;
  margin-right: auto;
  
  max-width: var(--max-container-size);
}

.shoppage-main {
  display: flex;
  gap: 32px;
}

.shoppage-main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.shoppage-main h2 {
  margin-bottom: 16px;
}

.shoppage-main ul > li.selected > button > span {
  border-left: 4px solid red;
}

.shoppage-main ul > li > button:hover {
  transform: scale(1.08) translateX(8px);
}

.shoppage-main ul > li:not(.selected) > button:hover > span {
  border-left: 4px solid hsl(7, 69%, 44%);
}

.shoppage-main ul > li > button:active {
  transform: scale(1.15) translateX(11px);
}

.shoppage-main ul > li > button {
  cursor: pointer;
  background-color: transparent;
  border: none;

  padding-right: 16px;
  font-size: 18px;

  transition-duration: 100ms;
  transition-timing-function: ease;
  transition-property: border-left transform;
}

.shoppage-main ul > li > button > span {
  border-left: 4px solid rgb(71, 26, 12);
  margin-right: 12px;
}

.shoppage-main > section:first-child {
  flex-grow: 1;
}

.shoppage-main > section:last-child {
  flex-grow: 5;
}

/* TODO: Grid Container */
.displayed-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 12px;
}

.quick-view-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px 32px;

  box-shadow: 0px 0px 8px 4px lightgray;

  justify-content: space-between;
}

.quick-view-card > button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: auto;
  max-width: 128px;
}

.quick-view-card .product-img {
  max-width: 128px;
  border-radius: 8px;
}

.card-interactable {
  display: flex;
  gap: 16px;
}

.name-and-price > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
}

.name-and-price h3 {
  font-size: 16px;
}

.card-interactable > button {
  display: flex;
  align-items: center;
  height: fit-content;

  background-color: transparent;
  border: 1px solid grey;
  cursor: pointer;
  
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 12px;
  
  transition-property: box-shadow transform;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.card-interactable > button.added {
  background-color: hsl(120, 51%, 54%);
}

.card-interactable > button:hover {
  box-shadow: 1px 1px 4px 0px grey;
}

.card-interactable > button:active {
  transform: scale(1.05);
}

.card-interactable > button > img {
  width: 16px;
}

footer {
  padding: 16px;
  text-align: center;
  max-width: var(--max-container-size);

  margin-left: auto;
  margin-right: auto;
}

footer > div:first-child {
  border: 1px solid lightgray;
  margin-bottom: 16px;
}

.displayed-product-expanded {
  display: flex;
  flex-direction: column;
}

.go-back-btn {
  max-width: 128px;
  padding: 8px 16px;

  margin-right: 164px;
  margin-left: auto;
}

.displayed-product {
  display: flex;
  padding: 16px;
  gap: 64px;
}

.displayed-product > img {
  max-height: 400px;
  padding: 32px;
}

.product-details {
  padding-top: 64px;
  padding-left: 128px;
  padding-right: 128px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  gap: 32px;
}

.product-details > h2:first-child {
  font-weight: 500;
  font-size: 24px;
}

.increase-decrease-container {
  display: flex;
  border: 1px solid rgb(64, 64, 64);
  max-width: fit-content;
  padding: 6px 8px;
}

.increase-decrease-container input {
  max-width: 64px;
  border: none;
  padding: 8px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 1px;
  font-size: 18px;

  transition-duration: 250ms;
  transition-timing-function: ease;
  transition-property: border border-radius;
}

.increase-decrease-container button:hover,
.increase-decrease-container input:hover {
  border-radius: 4px;
  border: 1px solid lightgray;
}

.increase-decrease-container input::-webkit-inner-spin-button,
.increase-decrease-container input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.increase-decrease-container button {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;

  transition-duration: 250ms;
  transition-timing-function: ease;
  transition-property: border border-radius;
}

.increase-decrease-container button:active {
  border: 1px solid black;
}

.increase-decrease-container img {
  width: 16px;
}

.product-details .price {
  font-weight: 500;
}

.add-to-shopping-cart-interface {
  display: flex;
  gap: 16px;
}

.add-to-cart-btn,
.go-back-btn,
.cart-entry > button,
.subtotal > button {
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: hsl(240, 5%, 21%);

  display: flex;
  align-items: center;
  gap: 16px;

  padding: 8px 32px;

  transition-duration: 200ms;
  transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: border background-color;
}

.add-to-cart-btn img {
  filter: invert(100%);
  width: 16px;
}

.add-to-cart-btn:hover, 
.go-back-btn:hover,
.cart-entry > button:hover,
.subtotal > button:hover {
  border: 1px solid black;
}

.add-to-cart-btn:active,
.go-back-btn:active,
.cart-entry > button:active,
.subtotal > button:active {
  background-color: rgba(51, 51, 56, 0.5);
}

.shopping-cart-wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--max-container-size);
  margin-left: auto;
  margin-right: auto;
}

.shopping-cart-wrapper > header {
  gap: 16px;
}

.shopping-cart-wrapper > header > h1 {
  margin-bottom: 16px;
}

.cart-search-product {
  width: 100%;
  border: 1px solid gray;
  padding: 18px 16px;

  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-property: border-radius box-shadow;
}

.cart-search-product:focus {
  border-radius: 6px;
}

.cart-entry {
  display: flex;

  margin-left: auto;
  margin-right: auto;

  gap: 96px;
}

.cart-entry > .img-wrapper {
  padding: 32px;
  flex-grow: 1;
  display: flex;
  justify-content: center;

  max-width: 72px;
}

.cart-entry > .img-wrapper > img {
  max-width: inherit;
}

.cart-quick-view {
  display: flex;
  flex-grow: 4;

  gap: 32px;
  justify-content: space-between;

  align-items: center;
}

.cart-entry .increase-decrease-container {
  max-height: 64px;
}

.cart-price-display {
  flex-grow: 2;
}

.cart-price-display {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  justify-content: center;
  gap: 16px;
}

.cart-price-display > h3 {
  font-weight: 500;
  text-align: left;
  font-size: 22px;
}

.cart-product > h3 {
  max-width: 300px;
}

.cart-product > h4 {
  color: gray;
  font-weight: 500;
  font-style: italic;
}

.cart-entry > button {
  max-height: fit-content;
  align-self: center;
  background-color: hsl(0, 59%, 30%);
}

.subtotal {
  align-self: last baseline;
  padding: 16px 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtotal > div {
  display: flex;
  gap: 32px;

  align-items: center;
}

.subtotal h3 {
  font-size: 24px;
}

.cart-contents {
  border-bottom: 2px solid grey;
  padding-top: 16px;
}

.subtotal > button:hover, .subtotal > button:active {
  border-radius: 4px;
}

@media (min-width: 1600px) {
  :root {
    --slider-count: 6;
  }
  .slider {
    max-width: 1600px;
  }
}

@media (max-width: 1300px) {
  :root {
    --slider-count: 3;
  }

  .slider-card > img {
    max-width: 60%;
  }
  
  .displayed-item-type-name-price-container {
    font-size: 12px;
  }

  .testimonial-people {
    flex-direction: row;
  }

  .testimonial-container {
    flex-direction: column;
  }

  .testimonial-container > p {
    font-size: 18px;
    padding: 32px 0px;
    margin-left: auto;
  }

  .testimonial-people > li {
    flex-grow: 1;
    flex-direction: column;
    padding: 30px 24px;
  }

  .cart-entry {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .cart-quick-view {
    flex-direction: column;
    gap: 8px;
  }

  .subtotal {
    align-self: center;
  }
}

@media (max-width: 1000px) {
  :root {
    --slider-count: 2;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .nav-wrapper {
    flex-direction: column;
    
    gap: 16px;
  }
  
  .page-title {
    text-align: center;
  }

  .displayed-item-type-name-price-container {
    font-size: 10px;
  }

  .nav-left-side {
    gap: 48px;
    justify-content: space-around;
    margin-left: auto; /* WTF? */
    width: 100%;
  }

  .slider-card > img {
    max-width: 45%;
  }
}

@media (max-width: 800px) {
  .slider {
    max-width: 350px;
  }
  
  :root {
    --slider-count: 1;
  }

  main {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 600px) {
  .nav-left-side {
    flex-direction: column;
    gap: 0px;
  }

  nav {
    gap: 24px;
  }
}