@font-face {
  font-family: inter;
  src: url(./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

* {
  font-family: inter;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, body {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}